@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');
@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  --font-be-vietnam-pro: 'Be Vietnam Pro', sans-serif;
}

html,
body,
* {
  font-family: 'Be Vietnam Pro', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ẩn overlay báo lỗi Next.js */
nextjs-portal {
  display: none !important;
}